html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#content {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
/* image slider */
#image-slider-container {
  padding-top: 20px;
  width: 70%;
  height: 600px;
  margin: 0 auto;
  position: relative;
}
#track-container {
  position: relative;
  background-color: lightgreen;
  height: 100%;
  overflow: hidden;
}
#images-track {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  transition: transform 500ms ease-in;
}
.image-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.image-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#left-button, #right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}
#left-button {
  left: -40px;
}
#right-button {
  right: -40px;
}
#slider-nav {
  display: flex;
  justify-content: center;
}
#slider-nav button {
  margin: 15px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid black;
}
#slider-nav button.current-slide {
  background-color: rgba(0, 0, 0, 0.5);
}